@import url(./reset.css);
body {
  font-family: arial, '微軟正黑體';
  font-size: 16px;
  line-height: 1.6;
}
/* body *{
  overflow: hidden;
} */

.top {
  width: 100%;
  height: 100px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.top-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 90px;
  display: block;
}

.top ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 70%;
}

.top li {
  flex-basis: 0;
  flex-grow: 1;
}

.top li a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  transition: .2s linear;
}

.top li a:hover {
  background-color: rgb(249, 181, 53);
  filter: drop-shadow(0 0 10px rgb(238, 2, 2));
}
.book_bg{
  background-image: url(../image/galactic-night-sky-astronomy-science-combined-generative-ai.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
}
.book_box{
  width: 45%;
  height: 73%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 50px;
  /* background-color: rgba(22,74,207,.3); */
  border-radius: 30px;
  padding: 30px 20px;

  backdrop-filter: blur(2px);
  border: 1px solid #fff;
}
.book_box_content{
  width: 80%;
  margin: auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
}
.book_box h1{
  font-size: 3em;
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}
.book_box h2{
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
  /* line-height: 30px; */
}
.book_box_content .date{
  display: flex;
  /* align-items: center; */
  margin-bottom: 20px;
  line-height: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.date input{
  background-color: rgba(255,255,255,.3);
  height: 30px;
}
.time,
.date,
.person,
.name,
.phone{
  display: flex;
  height: 30px;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  line-height: 30px;
  /* box-sizing: border-box; */
}
.time select,
.person select,
.name input,
.phone input
{
  height: 30px;
}
.name label,
.phone label{
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
}
.book_bg button{
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #fff;
  font-weight: 500;
}

/* --------footer--------- */
.footer{
  width: 100%;
  height: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer img{
  height: 90px;
}
.footer ul{
  display: flex;
}
.footer li{
  margin-right: 25px;
  font-size: 24px;
}
.footer a{
  text-decoration: none;
  color: white;
}
.footer p{
  color: white;
  padding: 20px 0;
  letter-spacing: 3px;
}
.footer_2{
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}
.footer_2 img{
  height: 20px;
  margin: 0 5px;
}
.footer_2 p{
  margin-right: 15px;
}
