@media screen and (max-width: 600px){
  .book_box{
    width: 400px;
  }
}
@media screen and (max-width: 426px){
  .book_box{
    width: 300px;
  }
  .book_box h1{
    font-size: 32px;
  }
  .book_box h2,
  .name label, 
  .phone label{
    font-size: 20px;
  }
}