@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

body {
  font-family: arial, '微軟正黑體';
  font-size: 16px;
  line-height: 1.6;
}

.top {
  width: 100%;
  height: 100px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.top-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 90px;
  display: block;
}

.top-nav_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 70%;
}

.top-nav .fa-bars{
  display: none;
}

.top li {
  flex-basis: 0;
  flex-grow: 1;
}

.top li a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  transition: .2s linear;
}

.top li a:hover {
  background-color: rgb(249, 181, 53);
  filter: drop-shadow(0 0 10px rgb(238, 2, 2));
}

/* ----------banner---------- */

.banner img {
  width: 100%;
  height: 100vh;
}

.banner_img {
  width: 100%;
  height: 100vh;
  transition: 1s ease-in-out;
  position: relative;
}

.slide_img {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: .8s ease-in-out;


}

.active {
  opacity: 1;
}

.indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 15%;
  bottom: 15%;
  right: 15%;
  gap: 20px;
}

.slide {
  width: 30px;
  height: 3px;
  background-color: #fff;
  cursor: pointer;
}

.light {
  background-color: red;
}

.fa-chevron-left {
  position: absolute;
  color: #fff;
  font-size: 40px;
  top: 50%;
  left: 10%;
  z-index: 2;
  cursor: pointer;
}

.fa-chevron-right {
  position: absolute;
  color: #fff;
  font-size: 40px;
  top: 50%;
  right: 10%;
  z-index: 2;
  cursor: pointer;
}

.banner h1 {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 3px #000;
  /* margin-top: 18px; */
}

main .wrapper {
  background-image: url(../image/space-bg.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

.wrapper .en {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 110px;
}

.en img {
  width: 450px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.en_text {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.en_text h1 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.en_text h1::after{
  content: '';
  display: block;
  margin: auto;
  width: 40%;
  height: 5px;
  background-color: rgb(90, 90, 234);
  animation: blink 2s infinite linear;
}

@keyframes blink {
  0%{
    background-color: transparent;
  }
  50%{
    background-color: rgb(90, 90, 234);
  }
  100%{
    background-color: transparent;
  }
}

.en_text h2 {
  font-size: 28px;
}

.en img:nth-of-type(2) {
  order: 2;
  margin-top: 30px;
}

.en .en_text:only-of-type(2) {
  order: 1;
}

.wrapper .place {
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 90%;
  margin: 90px auto 65px;
}

.place_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.place_1 img {
  max-width: 560px;
  object-fit: cover;
}

.place_1_text {
  max-width: 300px;
  text-align: left;
}

.place h1{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.place h1:after{
  content: '';
  display: block;
  margin: auto;
  width: 21%;
  height: 5px;
  background-color: rgb(90, 90, 234);
  animation: blink 2s infinite linear;
}
.place_1 h2 {
  font-size: 28px;
  font-weight: normal;
}

/* --------footer--------- */
.footer {
  width: 100%;
  height: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer img {
  height: 90px;
}

.footer ul {
  display: flex;
}

.footer li {
  margin-right: 25px;
  font-size: 24px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer p {
  color: white;
  padding: 20px 0;
  letter-spacing: 3px;
  /* margin: 0 auto; */
}

.footer_2 {
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}

.footer_2 img {
  height: 20px;
  margin: 0 5px;
}

.footer_2 p {
  margin-right: 15px;
}