@media screen and (max-width: 1000px) {
  .top-nav_ul {
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 100px;
    width: 80%;
    height: 100vh;
    display: none;
  }
 .-on {
   display: block;
   animation: move .5s linear;
  }
  @keyframes move{
    0%{
      right: -80%;
    }
    100%{
      right: 0;
    }
  }
  .top-nav .fa-bars {
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }

  .top-nav li {
    line-height: 60px;
  }
  .top-nav li a{
    font-size: 24px;
  }
  .footer{
    height: auto;
  }
  .footer img{
    padding: 5px 0;
  }
  .footer p{
    text-align: center;
  }
}
@media screen and (max-width: 675px){
  .footer a{
    font-size: 20px;
  }
  .footer ul li:last-child{
    margin-right: 0;
  }
}
@media screen and (max-width: 600px){
  .footer a{
    font-size: 16px;
  }
  .footer p{
    font-size: 12px;
  }
  .footer ul{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer ul li{
    margin-right: 0;
  }
  .footer_2{
    font-size: 16px;
  }
}