@import url(./reset.css);

body {
  font-family: arial, '微軟正黑體';
  font-size: 16px;
  line-height: 1.6;
}

.top {
  width: 100%;
  height: 100px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.top-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 90px;
  display: block;
}

.top-nav_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 70%;
}

.top-nav .fa-bars{
  display: none;
}

.top li {
  flex-basis: 0;
  flex-grow: 1;
}

.top li a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  transition: .2s linear;
}

.top li a:hover {
  background-color: rgb(249, 181, 53);
  filter: drop-shadow(0 0 10px rgb(238, 2, 2));
}

/* ---------video內文----------------- */

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

}

.wrapper video {
  display: block;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;

}

.wrapper .text {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -41%);
  color: white;
}

.wrapper .text h1 {
  letter-spacing: 3px;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 20px;
}

.wrapper .text h1::after{
  content: "";
  display: block;
  height: 1px;
  width: 530px;
  background-color: #fff;
}

.wrapper .text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.wrapper .text h3 {
  font-size: 32px;
}

.wrapper .text a {
  display: block;
  background-color: transparent;
  border: 3px solid rgb(249, 181, 53);
  color: rgb(249, 181, 53);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  align-self: flex-end;
  margin-top: 10px;
}

.space_bg {
  width: 100%;
  height: 100%;
  background-image: url(../image/space-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

/* -----------main------------ */
.brand_info img {
  width: 35%;
  display: block;
}

.brand_info {
  padding-top: 110px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.brand_text {
  width: 60%;
}

.brand_text h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}
.brand_text h1:after{
  content: '';
  display: block;
  margin: auto;
  width: 20%;
  height: 5px;
  background-color: rgb(90, 90, 234);
  animation: blink 2s infinite linear;
}

@keyframes blink {
  0%{
    background-color: transparent;
  }
  50%{
    background-color: rgb(90, 90, 234);
  }
  100%{
    background-color: transparent;
  }
}

.brand_text h2 {
  font-size: 28px;
}

.space_bg .menu {
  font-size: 50px;
  color: white;
  text-align: center;
  padding: 55px 0 55px;
  font-weight: bold;
  box-sizing: border-box;
}

.space_bg .menu::after{
  content: '';
  display: block;
  margin: auto;
  width: 8%;
  height: 5px;
  background-color: rgb(90, 90, 234);
  animation: blink 2s infinite linear;
}
.space_bg .menu_info {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.space_bg .menu_info li:first-child {
  background-image: url(../image/main_dish.jpg);
  width: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center center;
}

.space_bg .menu_info li:nth-child(2) {
  background-image: url(../image/cocktail\ \(2\).jpg);
  width: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center center;
}

.space_bg .menu_info li:nth-child(3) {
  background-image: url(../image/soda.jpg);
  width: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center center;
}

.space_bg .menu_info li:nth-child(4) {
  background-image: url(../image/dessert.jpg);
  width: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center center;
}

.space_bg .menu_info li {
  margin-bottom: 60px;
  position: relative;
}

.space_bg .menu_info p {
  color: white;
  font-size: 45px;
  font-weight: bold;
}

.space_bg .menu_info a {
  text-decoration: none;
  color: black;
  display: block;
  background-color: rgb(249, 181, 53);
  width: 100px;
  padding: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* ----------footer----------- */
.footer {
  width: 100%;
  height: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer img {
  height: 90px;
}

.footer ul {
  display: flex;
}

.footer li {
  margin-right: 25px;
  font-size: 24px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer p {
  color: white;
  padding: 20px 0;
  letter-spacing: 3px;
}

.footer_2 {
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}

.footer_2 img {
  height: 20px;
  margin: 0 5px;
}

.footer_2 p {
  margin-right: 15px;
}

  
